---
import { Language } from '@catechism-types';

import { AuthorText, Body, getConstitution, Intro, Subtitle, Title } from './components';

interface Props {
    language: Language;
}

const { language } = Astro.props;

const cst = getConstitution(language);
---

<div class="max-w-[40rem] mx-auto px-12">
    <Title text={cst.title} />
    <Subtitle text={cst.subtitle} />
    <AuthorText lines={cst.authorText} />
    <Intro text={cst.intro} />
    <Body {language} />
</div>
