---
import { Language, PathID } from '@catechism-types';
import { getAllChildContent, getParagraphs } from '@catechism-utils/content';

import ContentBase from './content-base.astro';
import InfiniteScrollTrigger from './infinite-scroll-trigger.astro';
import IntersectionUrlUpdater from './intersection-url-updater.astro';

import { getRenderableNodeMap } from '@logic/artifacts';
import { loadContent } from '@logic/rendering';
import { ElementClass } from '@logic/ui';

interface Props {
    pathID: PathID;
    language: Language;
}

const { pathID, language } = Astro.props;

const content = await loadContent(language, pathID);

const nodeMap = await getRenderableNodeMap(language);
const renderableNodes = nodeMap[pathID] ?? null;
const thisUrl = renderableNodes?.here.url;
const nextUrl = renderableNodes?.next?.url;

const paragraphs = getParagraphs(getAllChildContent(content));
const firstParagraphNumber = paragraphs.at(0).paragraphNumber;
const lastParagraphNumber = paragraphs.at(-1).paragraphNumber;

if (!firstParagraphNumber || !lastParagraphNumber) {
    console.error(`Terminal paragraph numbers could not be determined for pathID ${pathID}`);
}
---

{
    /* TODO:
        - Finalize the bottom padding when the position and height of the navigation buttons container is finalized
    */
}
<div class:list={[ElementClass.CATECHISM_CONTENT_BLOCK, 'relative pl-8 pr-16 margin-8 border-bottom-4 border-bottom-white']}>
    <div class="max-w-prose mx-auto break-words">
        {content && <ContentBase {content} {language} />}
    </div>

    {nextUrl && <InfiniteScrollTrigger url={nextUrl} {language} class="absolute bottom-[min(100%,_80vh)] invisible" />}

    <!--
        Keeping these each at least 51vh from the respective edges ensures that
        intersection updaters from multiple `CATECHISM_CONTENT_BLOCK`s won't be simultaneously visible.
    -->
    <!-- deno-fmt-ignore -->
    <IntersectionUrlUpdater url={thisUrl} {language} {firstParagraphNumber} {lastParagraphNumber} class="absolute top-[min(100%,_51vh)] invisible"/>
    <!-- deno-fmt-ignore -->
    <IntersectionUrlUpdater url={thisUrl} {language} {firstParagraphNumber} {lastParagraphNumber} class="absolute bottom-[min(100%,_51vh)] invisible"/>
</div>
