---
import { Language, TextWrapper as TextWrapperType } from '@catechism-types';

import CrossReferenceTrigger from './cross-reference-trigger.astro';
import PlainText from './plain-text.astro';
import ReferenceCollection from './reference-collection.astro';

interface Props {
    textWrapper: TextWrapperType;
    language: Language;
}

const { textWrapper, language } = Astro.props;
---

<span>
    <span class="absolute right-8 text-left">
        {
            textWrapper.paragraphReferences.map((reference, index, allReferences) => {
                const separator = index < allReferences.length - 1 ? ', ' : '';

                return (
                <>
                    <CrossReferenceTrigger {reference} {language} /> {separator}
                </>
            );
            })
        }
    </span>
    <span>
        {textWrapper.mainContent.map((text, index) => <PlainText {text} lastFragment={index === textWrapper.mainContent.length - 1} />)}
        {
            textWrapper.referenceCollection?.references.length > 0 && (
                <ReferenceCollection {language} referenceCollection={textWrapper.referenceCollection} />
            )
        }
    </span>
</span>
