---
import { Language, PathID } from '@catechism-types';

import ApostolicConstitution from '@components/content/auxiliary/apostolic-constitution.astro';
import ApostolicLetter from '@components/content/auxiliary/apostolic-letter.astro';
import Glossary from '@components/content/auxiliary/glossary.astro';
import IndexCitations from '@components/content/auxiliary/index-citations.astro';
import IndexTopics from '@components/content/auxiliary/index-topics.astro';
import CatechismContent from '@components/content/catechism/catechism-content.astro';

import { isApostolicConstitution, isApostolicLetter, isGlossary, isIndexCitations, isIndexTopics } from '@logic/routing';

interface Props {
    language: Language;
    path: string;
    pathID?: PathID;
}

const { language, path, pathID } = Astro.props;

const isGlossaryPath = isGlossary(path, language);
const isIndexTopicsPath = isIndexTopics(path, language);
const isIndexCitationsPath = isIndexCitations(path, language);
const isApostolicLetterPath = isApostolicLetter(path, language);
const isApostolicConstitutionPath = isApostolicConstitution(path, language);

const isCatechismContent = !!pathID;
---
<div class="max-w-4xl mx-auto">
    {isGlossaryPath && <Glossary {language} />}

    {isIndexTopicsPath && <IndexTopics {language} />}

    {isIndexCitationsPath && <IndexCitations {language} />}

    {isApostolicLetterPath && <ApostolicLetter {language} />}

    {isApostolicConstitutionPath && <ApostolicConstitution {language} />}

    {
        isCatechismContent && (
            <CatechismContent
                {pathID}
                {language}
                firstContent={true}
                infiniteScrollDirection={null}
                firstInfiniteScrollBackwardContent={false}
            />
        )
    }
</div>
