---
import PrefetchOnMouseover from '@components/prefetch-on-mouseover.astro';

import { Language } from '@catechism-types';

import { getPartialContentUrls } from '@logic/routing';
import { ElementID } from '@logic/ui';

interface Props {
    url: string;
    language: Language;
    outerClass?: string;
    innerClass?: string;
}

/*
    `...rest` is needed in order for the classes from the parent to be properly scoped for the styling specified within by parent
    (see https://docs.astro.build/en/guides/styling/#passing-a-class-to-a-child-component)
*/
const { language, url, outerClass, innerClass, ...rest } = Astro.props;
const { clientUrl, contentUrl } = getPartialContentUrls(url, language);
---

<PrefetchOnMouseover url={contentUrl} class={outerClass} {...rest}>
    <a
        hx-push-url={clientUrl}
        hx-get={contentUrl}
        hx-trigger="click"
        hx-swap="innerHTML"
        hx-target={ElementID.CONTENT_WRAPPER_SELECTOR}
        class:list={['cursor-pointer', innerClass]}
    >
        <slot />
    </a>
</PrefetchOnMouseover>
