---
// This component is intended to be placed on the UI only once

import LanguageSelectorTrigger from './language-selector-trigger.astro';
import ToggleCrossReferences from './toggle-cross-references.astro';
import ToggleExternalReferences from './toggle-external-references.astro';
import ThemeSelector from './theme-selector.astro';
import Icon from '@components/icon.astro';

import { Language } from '@catechism-types';

import { IconEnum } from '@components/icon-enum';
import { translate as t } from '@logic/translation';
import { ElementID } from '@logic/ui';

interface Props {
    language: Language;
}

const { language } = Astro.props;
---
<script>
    import '@shoelace/dropdown/dropdown.js';
</script>

<sl-dropdown id={ElementID.TOOLBAR_MENU} placement="top-end" skidding="-12">
    {/* trigger */}
    <button
        slot="trigger"
        type="button"
        class="relative group size-18 grid place-content-center cursor-pointer focus:outline-hidden sm:size-12"
    >
        <span class="absolute inset-2.5 rounded-full colors-button-stone-100 sm:inset-1"></span>
        <Icon icon={IconEnum.BARS_3} class="relative size-6" />
    </button>

    {/* content */}
    <div
        class="relative flex flex-col items-stretch gap-4 p-8 bg-white border border-gray-300 rounded shadow-xl dark:bg-zinc-850 dark:text-gray-50 dark:border-zinc-700 dark:shadow-2xl dark:shadow-zinc-900"
    >
        <ThemeSelector {language} />
        <div class="py-2 space-y-2">
            <ToggleCrossReferences {language} />
            <ToggleExternalReferences {language} />
        </div>

        <div class="self-center w-3/4 h-px bg-gray-200 dark:bg-zinc-600"></div>

        <a
            href="/"
            class="flex justify-center items-center gap-2 min-h-12 font-sans text-sm text-gray-700 rounded transition-colors hover:bg-gray-100 hover:text-gray-800 active:bg-gray-200 active:text-gray-800 dark:text-zinc-350 dark:hover:bg-zinc-700 dark:hover:text-zinc-200 dark:active:bg-zinc-600 dark:active:text-zinc-200"
        >
            <Icon icon={IconEnum.HOME} class="relative -top-0.5 size-5" />
            <span class="">{t('Home', language)}</span>
        </a>

        <LanguageSelectorTrigger {language} />
    </div>
</sl-dropdown>
