---
import { Language } from '@catechism-types';

import PartialContentLink from '@components/partial-content-link.astro';
import MainContentEntry from './main-content-entry.astro';

import { getRomanNumeral } from '@components/utils';
import { getTableOfContents } from '@logic/artifacts';
import { translate as t } from '@logic/translation';
import { ElementID, TableOfContentsTabs as Tabs } from '@logic/ui';

interface Props {
    language: Language;
}

const { language } = Astro.props;

const PartPanels = [
    Tabs.MAIN_CONTENT_PART_1,
    Tabs.MAIN_CONTENT_PART_2,
    Tabs.MAIN_CONTENT_PART_3,
    Tabs.MAIN_CONTENT_PART_4,
];

const tableOfContents = await getTableOfContents(language);
---
<script>
    import '@shoelace/tab/tab.js';
    import '@shoelace/tab-group/tab-group.js';
    import '@shoelace/tab-panel/tab-panel.js';
</script>

<sl-tab-group id={ElementID.TABLE_OF_CONTENTS_MAIN_CONTENT_TAB_GROUP}>
    <sl-tab slot="nav" panel={Tabs.MAIN_CONTENT_PROLOGUE}>{t('Prologue', language)}</sl-tab>
    {PartPanels.map((partPanel, i) => <sl-tab slot="nav" panel={partPanel}>{getRomanNumeral(i + 1)}</sl-tab>)}

    <sl-tab-panel name={Tabs.MAIN_CONTENT_PROLOGUE}>
        <h1 class="text-sm font-title font-bold tracking-widest uppercase">
            <PartialContentLink url={tableOfContents.prologue.url} {language}>
                {t('Prologue', language)}
            </PartialContentLink>
        </h1>
        <ol>
            {
                tableOfContents.prologue.children.map((entry) => (
                    <li>
                        <PartialContentLink url={entry.url} {language}>
                            {entry.title}
                        </PartialContentLink>
                    </li>
                ))
            }
        </ol>
    </sl-tab-panel>

    {
        tableOfContents.parts.map((part, i) => (
            <sl-tab-panel name={PartPanels[i]}>
                <PartialContentLink url={part.url} {language}>
                    <h1 class="text-sm font-title font-bold tracking-widest uppercase mb-3">
                        {part.title}
                    </h1>
                </PartialContentLink>
                <ol class="space-y-2">
                    {part.children.map((entry) => <MainContentEntry {entry} level={0} {language} />)}
                </ol>
            </sl-tab-panel>
        ))
    }
</sl-tab-group>
