---
import { ArticleParagraph as ArticleParagraphType, Language } from '@catechism-types';
import { getAllChildContent } from '@catechism-utils/content';

import { getRomanNumeral } from '@components/utils.ts';
import { getUrlFragment } from '@logic/routing';

import ContentBaseArray from './content-base-array.astro';

interface Props {
    articleParagraph: ArticleParagraphType;
    language: Language;
}

const { articleParagraph, language } = Astro.props;

const id = getUrlFragment(articleParagraph.semanticPath, false, language).fragment;
---

<h5 {id} class="font-title text-3xl tracking-wider mt-8 mb-6">
    {getRomanNumeral(articleParagraph.articleParagraphNumber)}. {articleParagraph.title}
</h5>
<ContentBaseArray content={getAllChildContent(articleParagraph)} {language} />
