---
import { ArticleParagraph as ArticleParagraphType, Language } from '@catechism-types';
import { getAllChildContent } from '@catechism-utils/content';

import { getUrlFragment } from '@logic/routing';
import { translate as t } from '@logic/translation';

import ContentBaseArray from './content-base-array.astro';
import ReadingAreaIntersectable from './reading-area-intersectable.astro';

interface Props {
    articleParagraph: ArticleParagraphType;
    language: Language;
}

const { articleParagraph, language } = Astro.props;

const id = getUrlFragment(articleParagraph.semanticPath, false, language).fragment;
---

<ReadingAreaIntersectable content={articleParagraph} {language}>
    <h5 {id} class="flex flex-col items-center gap-2 text-center px-text mt-14 mb-10">
        <span class="font-sans font-bold text-lg text-stone-600 tracking-widest uppercase dark:text-stone-350">
            {t('Paragraph', language)} {articleParagraph.articleParagraphNumber}</span>
        <span class="font-title font-light text-4xl text-stone-800 dark:text-stone-200">
            {articleParagraph.title}
        </span>
    </h5>
    <ContentBaseArray content={getAllChildContent(articleParagraph)} {language} />
</ReadingAreaIntersectable>
