---
import { Language, PathID } from '@catechism-types';

import ContentBase from './content-base.astro';
import InfiniteScrollBackwardActivator from './infinite-scroll-backward-activator.astro';
import InfiniteScrollTriggerForward from './infinite-scroll-trigger-forward.astro';
import InfiniteScrollTriggerBackward from './infinite-scroll-trigger-backward.astro';

import { getNaturalLanguagePathText } from '../../utils';

import { getRenderableNodeMap } from '@logic/artifacts';
import { loadContent } from '@logic/rendering';
import { ElementClass, ElementID } from '@logic/ui';

interface Props {
    pathID: PathID;
    language: Language;
    firstContent: boolean;
    infiniteScrollDirection: 'forward' | 'backward' | null;
    firstInfiniteScrollBackwardContent: boolean;
}

const { pathID, language, firstContent, infiniteScrollDirection, firstInfiniteScrollBackwardContent } = Astro.props;

const content = await loadContent(language, pathID);

const nodeMap = await getRenderableNodeMap(language);
const renderableNodes = nodeMap[pathID] ?? null;
const nextUrl = renderableNodes?.next?.url;
const previousUrl = renderableNodes?.previous?.url;

const includeInfiniteScrollForwardTrigger = 'backward' !== infiniteScrollDirection && nextUrl;
const includeInfiniteScrollBackwardTrigger = 'backward' === infiniteScrollDirection && previousUrl;
const includeInfiniteScrollBackwardActivator = firstContent && !!previousUrl;

const pagefindTitle = getNaturalLanguagePathText(content.naturalLanguagePath);
---

<div id={ElementID.INFINITE_SCROLL_BACKWARD_INITIAL_TARGET}></div>

<div
    class:list={[
        ElementClass.CATECHISM_CONTENT_BLOCK,
        { [ElementClass.HIDDEN]: firstInfiniteScrollBackwardContent },
        { [ElementClass.INFINITE_SCROLL_BACKWARD_INITIAL_CONTENT]: firstInfiniteScrollBackwardContent },
        'relative',
        '[--content-margin-top:--spacing(12)] mt-(--content-margin-top)',
        'mb-[min(10rem,_40vh)] md:mb-48',
    ]}
>
    {/* For Pagefind indexing */}
    {
        firstContent && (
            <meta
                itemprop="pagefind-title"
                data-pagefind-meta="title[data-title]"
                data-title={pagefindTitle}
            />
        )
    }

    {
        includeInfiniteScrollBackwardActivator &&
            (
            <div
                id={ElementID.INFINITE_SCROLL_BACKWARD_ACTIVATOR_CONTAINER}
                class="absolute z-10 right-4 -top-[calc((var(--content-margin-top))+(--spacing(3)))]"
            >
                <InfiniteScrollBackwardActivator url={previousUrl} {language} />
            </div>
        )
    }

    <div class="max-w-reading-with-padding mx-auto break-words">
        {content && <ContentBase {content} {language} firstContentOnPageLoad={includeInfiniteScrollBackwardActivator} />}
    </div>

    {
        includeInfiniteScrollForwardTrigger && (
            <InfiniteScrollTriggerForward url={nextUrl} {language} class="invisible absolute bottom-[min(100%,_80vh)]" />
        )
    }
    {
        includeInfiniteScrollBackwardTrigger && (
            <InfiniteScrollTriggerBackward url={previousUrl} {language} class="invisible absolute top-[min(100%,_80vh)]" />
        )
    }
</div>
