---
import { Chapter as ChapterType, Language } from '@catechism-types';
import { getAllChildContent } from '@catechism-utils/content';

import { getUrlFragment } from '@logic/routing';
import { translate as t } from '@logic/translation';

import ContentBaseArray from './content-base-array.astro';
import ReadingAreaIntersectable from './reading-area-intersectable.astro';

interface Props {
    chapter: ChapterType;
    language: Language;
    firstContentOnPageLoad: boolean;
}

const { chapter, language, firstContentOnPageLoad } = Astro.props;

const id = getUrlFragment(chapter.semanticPath, false, language).fragment;
const childContent = getAllChildContent(chapter);
---

<ReadingAreaIntersectable content={chapter} {language} class:list={[{ 'mt-16': !firstContentOnPageLoad }]}>
    <div {id} class="font-sans font-bold text-lg text-stone-600 text-center tracking-wider uppercase px-text mb-2 dark:text-stone-350">
        {t('Chapter', language)} {chapter.chapterNumber}
    </div>
    <h3 class="font-title font-bold text-3xl text-stone-800 text-center tracking-wide px-text mb-6 dark:text-stone-300">
        {chapter.title}
    </h3>

    <ContentBaseArray content={childContent} {language} />
</ReadingAreaIntersectable>
