---
import { Chapter as ChapterType, Language } from '@catechism-types';
import { getAllChildContent } from '@catechism-utils/content';

import { getUrlFragment } from '@logic/routing';

import ContentBaseArray from './content-base-array.astro';

interface Props {
    chapter: ChapterType;
    language: Language;
}

const { chapter, language } = Astro.props;

const id = getUrlFragment(chapter.semanticPath, false, language).fragment;
const childContent = getAllChildContent(chapter);
---

<div class="font-sans font-bold text-stone-600 text-center tracking-wider uppercase mb-2">
    Chapter {chapter.chapterNumber}
</div>
<h3 {id} class="font-title font-extrabold text-3xl text-stone-800 text-center tracking-wide mb-10">
    {chapter.title}
</h3>
<ContentBaseArray content={childContent} {language} />
