---
import { DEFAULT_LANGUAGE, Language } from '@catechism-types';

import { path } from '@logic/navigation-utils';
import { ElementClass } from '@logic/ui';

interface Props {
    url: string;
    language: Language;
    direction: 'forward' | 'backward';
    class?: string;
}

/*
    `...rest` is needed in order for the classes from the parent to be properly scoped for the styling specified within by parent
    (see https://docs.astro.build/en/guides/styling/#passing-a-class-to-a-child-component)
*/
const { url, language, direction, class: classes, ...rest } = Astro.props;

// deno-fmt-ignore
const clientUrl = url
    ? DEFAULT_LANGUAGE === language
        ? path(url)
        : path(language, url)
    : null;

// deno-fmt-ignore
const urlDirection = 'forward' === direction
    ? 'forward'
    : 'backward/subsequent'

// deno-fmt-ignore
const contentUrl = clientUrl
    ? path(`/partials/infinite-scroll/${urlDirection}`, clientUrl)
    : null;

// deno-fmt-ignore
const swapMethod = 'forward' === direction
    ? 'afterend'
    : 'beforebegin';
---

<!-- When this element enters the viewport, it loads the next or previous block of content in order to create an infinite-scroll effect -->
<div
    class:list={[classes]}
    hx-trigger="intersect once"
    hx-get={contentUrl}
    hx-swap={swapMethod}
    hx-target={`closest ${ElementClass.CATECHISM_CONTENT_BLOCK_SELECTOR}`}
    hx-select={ElementClass.CATECHISM_CONTENT_BLOCK_SELECTOR}
    {...rest}
>
</div>
