---
import { DEFAULT_LANGUAGE, Language } from '@catechism-types';

import Icon from '@components/icon.astro';
import PrefetchOnMouseover from '@components/prefetch-on-mouseover.astro';

import { IconEnum } from '@components/icon-enum';
import { joinPaths } from '@logic/routing';
import { ElementClass, ElementID } from '@logic/ui';

interface Props {
    url: string;
    language: Language;
}

const { url, language } = Astro.props;

// deno-fmt-ignore
const clientUrl = url
    ? DEFAULT_LANGUAGE === language
        ? joinPaths(url)
        : joinPaths(language, url)
    : null;

// deno-fmt-ignore
const contentUrl = clientUrl
    ? joinPaths('/partials/infinite-scroll/backward/initial', clientUrl)
    : null;
---

{
    contentUrl && (
        <PrefetchOnMouseover url={contentUrl}>
            <button
                type="button"
                class="flex bg-sky-700 text-white p-3 pt-4 rounded-lg cursor-pointer transition-colors hover:bg-sky-600 active:bg-sky-800 dark:bg-arctic-800 dark:hover:bg-arctic-700 dark:active:bg-arctic-900"
                hx-trigger="click"
                hx-get={contentUrl}
                hx-swap="outerHTML"
                hx-target={ElementID.INFINITE_SCROLL_BACKWARD_INITIAL_TARGET_SELECTOR}
                hx-select={ElementClass.CATECHISM_CONTENT_BLOCK_SELECTOR}
            >
                <Icon icon={IconEnum.CHEVRON_UP} class="size-6" />
            </button>
        </PrefetchOnMouseover>
    )
}
