---
import { ContentBase, DEFAULT_LANGUAGE, Language } from '@catechism-types';

import { getNaturalLanguagePathText } from '@components/utils';
import { path } from '@logic/navigation-utils';
import { getUrl } from '@logic/routing';
import { getUpdateLanguageSelectorEventName } from '@logic/state/reading-area';
import { ElementClass } from '@logic/ui';

interface Props {
    content: ContentBase;
    language: Language;
    class?: string;
}

/*
    `...rest` is needed in order for the classes from the parent to be properly scoped for the styling specified within by parent
    (see https://docs.astro.build/en/guides/styling/#passing-a-class-to-a-child-component)
*/
const { content, language, class: classes, ...rest } = Astro.props;

const url = getUrl(language, content.semanticPath, false);
const naturalLanguagePath = getNaturalLanguagePathText(content.naturalLanguagePath);

const languagePrefix = DEFAULT_LANGUAGE === language ? '' : language;
const updateLanguageSelectorUrl = path('/partials/update-language-selector', languagePrefix, url);
const updateLanguageSelectorEventName = getUpdateLanguageSelectorEventName(content.rank);
---

<div
    class:list={[ElementClass.READING_AREA_INTERSECTABLE, classes]}
    data-natural-language-path={naturalLanguagePath}
    data-path-id={content.pathID}
    data-rank={content.rank}
    data-url={url}
    {...rest}
>
    <div hx-get={updateLanguageSelectorUrl} hx-trigger={`${updateLanguageSelectorEventName} from:document`} class="hidden" />
    <slot />
</div>
