---
import PartialContentLink from '@components/partial-content-link.astro';
import MainContentEntry from './main-content-entry.astro';
import ParagraphNumbers from './paragraph-numbers.astro';
import Title from './title.astro';

import { Content, Language } from '@catechism-types';

import { TableOfContentsEntry } from '@artifact-types';

interface Props {
    content: TableOfContentsEntry;
    language: Language;
}

const { content, language } = Astro.props;
const { firstParagraphNumber, lastParagraphNumber } = content;

const isPrologue = content.contentType === Content.PROLOGUE;
const isPart = content.contentType === Content.PART;

// deno-fmt-ignore
const title = isPart
    ? content.titleData.title
    : content.titleData.typeLabel

// deno-fmt-ignore
const subtitleMainLabel = isPart
    ? `${content.titleData.typeLabel} ${content.titleData.romanNumeral}`
    : null;
---

<div class="h-full overflow-y-auto">
    <div class="max-w-reading-with-padding mx-auto px-text">
        <PartialContentLink url={content.url} {language} innerClass="sticky top-0">
            <Title>
                {title}
                <span slot="subtitle">
                    {subtitleMainLabel} <ParagraphNumbers {firstParagraphNumber} {lastParagraphNumber} />
                </span>
            </Title>
        </PartialContentLink>

        <ol class:list={[{ 'mt-4 space-y-2': isPrologue }]}>
            {content.children.map((entry, index) => <MainContentEntry {entry} {index} indentationLevel={0} {language} />)}
        </ol>
    </div>
</div>
