---
import { Content, DEFAULT_LANGUAGE, Language } from '@catechism-types';

import { getTableOfContents } from '@logic/artifacts';
import { translate as t } from '@logic/translation';

import { getRomanNumeral } from '../utils';

interface Props {
    language: Language;
}

const { language } = Astro.props;

const tableOfContents = await getTableOfContents(language);

const urlPrefix = DEFAULT_LANGUAGE === language ? '' : `/${language}`;
---

{
    [tableOfContents.prologue, ...tableOfContents.parts].map((part, i) => {
        const isPart = Content.PART === part.contentType;

        return (
        <div class="p-8">
            {isPart && <span>{t('Part', language)}{' '}{getRomanNumeral(i)}</span>}
            <h2 class="text-3xl font-title font-bold">
                <a href={urlPrefix + part.url}>{part.title}</a>
            </h2>
            {
                isPart && (
                    <ol class="mt-2 space-y-4">
                        {
                            part.children.map((child) => (
                                <li>
                                    <h3 class="font-sans font-bold text-xl text-stone-700 tracking-wide">
                                        <a href={urlPrefix + child.url}>{child.title}</a>
                                    </h3>
                                    {
                                        child.children.some((gc) => Content.IN_BRIEF !== gc.contentType) && (
                                            <ol class="mt-1.5 space-y-2">
                                                {
                                                    child.children.map((grandchild) => (
                                                        <li>
                                                            <h4 class="font-sans">
                                                                <a href={urlPrefix + grandchild.url}>{grandchild.title}</a>
                                                            </h4>
                                                        </li>
                                                    ))
                                                }
                                            </ol>
                                        )
                                    }
                                </li>
                            ))
                        }
                    </ol>
                )
            }
        </div>
    );
    })
}
